# Google Cloud CMIP6 Public Data: Basic Python Example

This notebooks shows how to query the catalog and load the data using python

In [7]:
import pip
pip.main(["install","matplotlib", "pandas", "xarray", "zarr", "gcsfs", "cftime", "dask[array]", "toolz", "nc-time-axis", "openpyxl", " xlsxwriter"])

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: matplotlib in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.3.0)
Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.0.5)
Requirement already satisfied: xarray in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.16.0)
Requirement already satisfied: zarr in /srv/conda/envs/notebook/lib/python3.7/site-packages (2.4.0)
Requirement already satisfied: gcsfs in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.6.2)
Requirement already satisfied: cftime in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.2.1)
Requirement already satisfied: dask[array] in /srv/conda/envs/notebook/lib/python3.7/site-packages (2.21.0)
Requirement already satisfied: toolz in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.10.0)
Requirement already satisfied: nc-time-axis in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.2.0)
Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.0.4)
Collecting xlsxwriter
  Downloading XlsxWriter-1.2.9-py2.py3-none-any.whl (141 kB)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.19.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (7.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: setuptools>=41.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from xarray) (45.1.0.post20200119)
Requirement already satisfied: numcodecs>=0.6.4 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from zarr) (0.6.4)
Requirement already satisfied: asciitree in /srv/conda/envs/notebook/lib/python3.7/site-packages (from zarr) (0.3.3)
Requirement already satisfied: fasteners in /srv/conda/envs/notebook/lib/python3.7/site-packages (from zarr) (0.15)
Requirement already satisfied: google-auth-oauthlib in /srv/conda/envs/notebook/lib/python3.7/site-packages (from gcsfs) (0.4.1)
Requirement already satisfied: decorator in /srv/conda/envs/notebook/lib/python3.7/site-packages (from gcsfs) (4.4.1)
Requirement already satisfied: fsspec>=0.6.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from gcsfs) (0.7.4)
Requirement already satisfied: google-auth>=1.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from gcsfs) (1.19.2)
Requirement already satisfied: requests in /srv/conda/envs/notebook/lib/python3.7/site-packages (from gcsfs) (2.22.0)
Requirement already satisfied: pyyaml in /srv/conda/envs/notebook/lib/python3.7/site-packages (from dask[array]) (5.3.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nc-time-axis) (1.14.0)
Requirement already satisfied: jdcal in /srv/conda/envs/notebook/lib/python3.7/site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.7/site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: monotonic>=0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from fasteners->zarr) (1.5)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from google-auth-oauthlib->gcsfs) (1.3.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from google-auth>=1.2->gcsfs) (4.1.1)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3" in /srv/conda/envs/notebook/lib/python3.7/site-packages (from google-auth>=1.2->gcsfs) (4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->gcsfs) (1.25.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->gcsfs) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->gcsfs) (2.8)
Requirement already satisfied: oauthlib>=3.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.0.1)
Requirement already satisfied: pyasn1>=0.1.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from rsa<5,>=3.1.4; python_version >= "3"->google-auth>=1.2->gcsfs) (0.4.8)
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-1.2.9

0

In [8]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import xarray as xr
import zarr
import gcsfs
import cftime
import xlsxwriter
import dask
import toolz
import os


xr.set_options(display_style='html')
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [3]:
plt.rcParams['figure.figsize'] = 12, 6

## Browse Catalog

The data catatalog is stored as a CSV file. Here we read it with Pandas.

In [4]:
df = pd.read_csv('https://storage.googleapis.com/cmip6/cmip6-zarr-consolidated-stores.csv')
df.head()

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
0,AerChemMIP,AS-RCEC,TaiESM1,histSST,r1i1p1f1,AERmon,od550aer,gn,gs://cmip6/AerChemMIP/AS-RCEC/TaiESM1/histSST/...,NaN,20200310
1,AerChemMIP,BCC,BCC-ESM1,histSST,r1i1p1f1,AERmon,mmrbc,gn,gs://cmip6/AerChemMIP/BCC/BCC-ESM1/histSST/r1i...,NaN,20190718
2,AerChemMIP,BCC,BCC-ESM1,histSST,r1i1p1f1,AERmon,mmrdust,gn,gs://cmip6/AerChemMIP/BCC/BCC-ESM1/histSST/r1i...,NaN,20191127
3,AerChemMIP,BCC,BCC-ESM1,histSST,r1i1p1f1,AERmon,mmroa,gn,gs://cmip6/AerChemMIP/BCC/BCC-ESM1/histSST/r1i...,NaN,20190809
4,AerChemMIP,BCC,BCC-ESM1,histSST,r1i1p1f1,AERmon,mmrso4,gn,gs://cmip6/AerChemMIP/BCC/BCC-ESM1/histSST/r1i...,NaN,20191127

The columns of the dataframe correspond to the CMI6 controlled vocabulary. A beginners' guide to these terms is available in [this document](https://docs.google.com/document/d/1yUx6jr9EdedCOLd--CPdTfGDwEwzPpCF6p1jRmqx-0Q). 

Here we filter the data to find monthly surface air temperature for historical experiments.

In [5]:
df_ta = df.query("source_id == 'CESM2' & (experiment_id == 'historical' | experiment_id == 'ssp585') & (variable_id == 'tas' | variable_id == 'ts') & table_id == 'Amon' & member_id == 'r4i1p1f1'")
df_ta

,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,zstore,dcpp_init_year,version
61097,CMIP,NCAR,CESM2,historical,r4i1p1f1,Amon,tas,gn,gs://cmip6/CMIP/NCAR/CESM2/historical/r4i1p1f1...,NaN,20190308
61100,CMIP,NCAR,CESM2,historical,r4i1p1f1,Amon,ts,gn,gs://cmip6/CMIP/NCAR/CESM2/historical/r4i1p1f1...,NaN,20190308
275301,ScenarioMIP,NCAR,CESM2,ssp585,r4i1p1f1,Amon,tas,gn,gs://cmip6/ScenarioMIP/NCAR/CESM2/ssp585/r4i1p...,NaN,20200528
275302,ScenarioMIP,NCAR,CESM2,ssp585,r4i1p1f1,Amon,ts,gn,gs://cmip6/ScenarioMIP/NCAR/CESM2/ssp585/r4i1p...,NaN,20200528

Now we do further filtering to find just the models from NCAR.

## Load Data

Now we will load a single store using gcsfs, zarr, and xarray.

In [102]:
df_out = {}
df_assets = {}
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_multiple.xlsx', engine='xlsxwriter')


for i in range(df_ta.shape[0]):
    df_inter = []
    # this only needs to be created once
    gcs = gcsfs.GCSFileSystem(token='anon')

    # get the path to a specific zarr store (the first one from the dataframe above)
    zstore = df_ta.zstore.values[i]

    # create a mutable-mapping-style interface to the store
    mapper = gcs.get_mapper(zstore)

    # open it using xarray and zarr
    ds = xr.open_zarr(mapper, consolidated=True)
    print(ds)
    
    #Get Metadata
    ds_attrs = pd.DataFrame.from_dict(ds.attrs, orient ='index')
    
    #Filter on assets
    # intialise data of lists. 
    df_assets = pd.DataFrame({'lons':[43, 12], 'lats':[15,76]} )
  
    for j in range(len(df_assets)):
        print(j)
        ds_sample = ds.sel(lon = df_assets["lons"].iloc[[j]], lat = df_assets["lats"].iloc[[j]], method = 'nearest')
        #Convert to df
        df_1 = ds_sample.to_dataframe().reset_index()
        print(df_1)
        if j == 0 :
            df_inter = df_1
            print(df_inter)
        else :
            df_inter = df_inter.append(df_1)
            print(df_inter)
    
    #Save in excel
    ds_attrs.to_excel(writer, sheet_name='Metadata_' + str(i))
    df_inter.to_excel(writer, sheet_name='Raw_Data_' + str(i))
    
writer.save()

<xarray.Dataset>
Dimensions:    (lat: 192, lon: 288, nbnd: 2, time: 1980)
Coordinates:
  * lat        (lat) float64 -90.0 -89.06 -88.12 -87.17 ... 88.12 89.06 90.0
    lat_bnds   (lat, nbnd) float32 dask.array<chunksize=(192, 2), meta=np.ndarray>
  * lon        (lon) float64 0.0 1.25 2.5 3.75 5.0 ... 355.0 356.2 357.5 358.8
    lon_bnds   (lon, nbnd) float32 dask.array<chunksize=(288, 2), meta=np.ndarray>
  * time       (time) object 1850-01-15 12:00:00 ... 2014-12-15 12:00:00
    time_bnds  (time, nbnd) object dask.array<chunksize=(1980, 2), meta=np.ndarray>
Dimensions without coordinates: nbnd
Data variables:
    tas        (time, lat, lon) float32 dask.array<chunksize=(600, 192, 288), meta=np.ndarray>
Attributes:
    Conventions:            CF-1.7 CMIP-6.2
    activity_id:            CMIP
    branch_method:          standard
    branch_time_in_child:   674885.0
    branch_time_in_parent:  182500.0
    case_id:                18
    cesm_casename:          b.e21.BHIST.f09_g17.CMIP6-historical.004
    contact:                cesm_cmip6@ucar.edu
    creation_date:          2019-01-18T18:44:34Z
    data_specs_version:     01.00.29
    experiment:             all-forcing simulation of the recent past
    experiment_id:          historical
    external_variables:     areacella
    forcing_index:          1
    frequency:              mon
    further_info_url:       https://furtherinfo.es-doc.org/CMIP6.NCAR.CESM2.h...
    grid:                   native 0.9x1.25 finite volume grid (192x288 latxlon)
    grid_label:             gn
    initialization_index:   1
    institution:            National Center for Atmospheric Research, Climate...
    institution_id:         NCAR
    license:                CMIP6 model data produced by <The National Center...
    mip_era:                CMIP6
    model_doi_url:          https://doi.org/10.5065/D67H1H0V
    nominal_resolution:     100 km
    parent_activity_id:     CMIP
    parent_experiment_id:   piControl
    parent_mip_era:         CMIP6
    parent_source_id:       CESM2
    parent_time_units:      days since 0001-01-01 00:00:00
    parent_variant_label:   r1i1p1f1
    physics_index:          1
    product:                model-output
    realization_index:      4
    realm:                  atmos
    source:                 CESM2 (2017): atmosphere: CAM6 (0.9x1.25 finite v...
    source_id:              CESM2
    source_type:            AOGCM BGC
    sub_experiment:         none
    sub_experiment_id:      none
    table_id:               Amon
    tracking_id:            hdl:21.14100/ef376c2e-c83b-4e73-a770-010e28bb1776
    variable_id:            tas
    variant_info:           CMIP6 20th century experiments (1850-2014) with C...
    variant_label:          r4i1p1f1
    status:                 2019-10-25;created;by nhn2@columbia.edu
0
           lat   lon  nbnd                 time   lat_bnds  lon_bnds  \
0     14.60733  42.5     0  1850-01-15 12:00:00  14.136126    41.875
1     14.60733  42.5     0  1850-02-14 00:00:00  14.136126    41.875
2     14.60733  42.5     0  1850-03-15 12:00:00  14.136126    41.875
3     14.60733  42.5     0  1850-04-15 00:00:00  14.136126    41.875
4     14.60733  42.5     0  1850-05-15 12:00:00  14.136126    41.875
...        ...   ...   ...                  ...        ...       ...
3955  14.60733  42.5     1  2014-08-15 12:00:00  15.078534    43.125
3956  14.60733  42.5     1  2014-09-15 00:00:00  15.078534    43.125
3957  14.60733  42.5     1  2014-10-15 12:00:00  15.078534    43.125
3958  14.60733  42.5     1  2014-11-15 00:00:00  15.078534    43.125
3959  14.60733  42.5     1  2014-12-15 12:00:00  15.078534    43.125

             tas            time_bnds
0     297.628204  1850-01-01 00:00:00
1     298.175415  1850-02-01 00:00:00
2     299.956055  1850-03-01 00:00:00
3     299.839447  1850-04-01 00:00:00
4     301.865692  1850-05-01 00:00:00
...          ...                  ...
3955  305.359009  2014-09-01 00:00:00
3956  304.774384  2014-10-01 00:00:00
3957  304.642853  2014-11-01 00:00:00
3958  302.952301  2014-12-01 00:00:00
3959  301.284088  2015-01-01 00:00:00

[3960 rows x 8 columns]
           lat   lon  nbnd                 time   lat_bnds  lon_bnds  \
0     14.60733  42.5     0  1850-01-15 12:00:00  14.136126    41.875
1     14.60733  42.5     0  1850-02-14 00:00:00  14.136126    41.875
2     14.60733  42.5     0  1850-03-15 12:00:00  14.136126    41.875
3     14.60733  42.5     0  1850-04-15 00:00:00  14.136126    41.875
4     14.60733  42.5     0  1850-05-15 12:00:00  14.136126    41.875
...        ...   ...   ...                  ...        ...       ...
3955  14.60733  42.5     1  2014-08-15 12:00:00  15.078534    43.125
3956  14.60733  42.5     1  2014-09-15 00:00:00  15.078534    43.125
3957  14.60733  42.5     1  2014-10-15 12:00:00  15.078534    43.125
3958  14.60733  42.5     1  2014-11-15 00:00:00  15.078534    43.125
3959  14.60733  42.5     1  2014-12-15 12:00:00  15.078534    43.125

             tas            time_bnds
0     297.628204  1850-01-01 00:00:00
1     298.175415  1850-02-01 00:00:00
2     299.956055  1850-03-01 00:00:00
3     299.839447  1850-04-01 00:00:00
4     301.865692  1850-05-01 00:00:00
...          ...                  ...
3955  305.359009  2014-09-01 00:00:00
3956  304.774384  2014-10-01 00:00:00
3957  304.642853  2014-11-01 00:00:00
3958  302.952301  2014-12-01 00:00:00
3959  301.284088  2015-01-01 00:00:00

[3960 rows x 8 columns]
1
            lat   lon  nbnd                 time   lat_bnds  lon_bnds  \
0     75.863874  12.5     0  1850-01-15 12:00:00  75.392670    11.875
1     75.863874  12.5     0  1850-02-14 00:00:00  75.392670    11.875
2     75.863874  12.5     0  1850-03-15 12:00:00  75.392670    11.875
3     75.863874  12.5     0  1850-04-15 00:00:00  75.392670    11.875
4     75.863874  12.5     0  1850-05-15 12:00:00  75.392670    11.875
...         ...   ...   ...                  ...        ...       ...
3955  75.863874  12.5     1  2014-08-15 12:00:00  76.335075    13.125
3956  75.863874  12.5     1  2014-09-15 00:00:00  76.335075    13.125
3957  75.863874  12.5     1  2014-10-15 12:00:00  76.335075    13.125
3958  75.863874  12.5     1  2014-11-15 00:00:00  76.335075    13.125
3959  75.863874  12.5     1  2014-12-15 12:00:00  76.335075    13.125

             tas            time_bnds
0     263.214996  1850-01-01 00:00:00
1     262.791748  1850-02-01 00:00:00
2     265.575165  1850-03-01 00:00:00
3     266.085724  1850-04-01 00:00:00
4     269.091583  1850-05-01 00:00:00
...          ...                  ...
3955  277.330322  2014-09-01 00:00:00
3956  275.794373  2014-10-01 00:00:00
3957  274.394989  2014-11-01 00:00:00
3958  276.065491  2014-12-01 00:00:00
3959  270.872894  2015-01-01 00:00:00

[3960 rows x 8 columns]
            lat   lon  nbnd                 time   lat_bnds  lon_bnds  \
0     14.607330  42.5     0  1850-01-15 12:00:00  14.136126    41.875
1     14.607330  42.5     0  1850-02-14 00:00:00  14.136126    41.875
2     14.607330  42.5     0  1850-03-15 12:00:00  14.136126    41.875
3     14.607330  42.5     0  1850-04-15 00:00:00  14.136126    41.875
4     14.607330  42.5     0  1850-05-15 12:00:00  14.136126    41.875
...         ...   ...   ...                  ...        ...       ...
3955  75.863874  12.5     1  2014-08-15 12:00:00  76.335075    13.125
3956  75.863874  12.5     1  2014-09-15 00:00:00  76.335075    13.125
3957  75.863874  12.5     1  2014-10-15 12:00:00  76.335075    13.125
3958  75.863874  12.5     1  2014-11-15 00:00:00  76.335075    13.125
3959  75.863874  12.5     1  2014-12-15 12:00:00  76.335075    13.125

             tas            time_bnds
0     297.628204  1850-01-01 00:00:00
1     298.175415  1850-02-01 00:00:00
2     299.956055  1850-03-01 00:00:00
3     299.839447  1850-04-01 00:00:00
4     301.865692  1850-05-01 00:00:00
...          ...                  ...
3955  277.330322  2014-09-01 00:00:00
3956  275.794373  2014-10-01 00:00:00
3957  274.394989  2014-11-01 00:00:00
3958  276.065491  2014-12-01 00:00:00
3959  270.872894  2015-01-01 00:00:00

[7920 rows x 8 columns]
<xarray.Dataset>
Dimensions:    (lat: 192, lon: 288, nbnd: 2, time: 1980)
Coordinates:
  * lat        (lat) float64 -90.0 -89.06 -88.12 -87.17 ... 88.12 89.06 90.0
    lat_bnds   (lat, nbnd) float32 dask.array<chunksize=(192, 2), meta=np.ndarray>
  * lon        (lon) float64 0.0 1.25 2.5 3.75 5.0 ... 355.0 356.2 357.5 358.8
    lon_bnds   (lon, nbnd) float32 dask.array<chunksize=(288, 2), meta=np.ndarray>
  * time       (time) object 1850-01-15 12:00:00 ... 2014-12-15 12:00:00
    time_bnds  (time, nbnd) object dask.array<chunksize=(1980, 2), meta=np.ndarray>
Dimensions without coordinates: nbnd
Data variables:
    ts         (time, lat, lon) float32 dask.array<chunksize=(600, 192, 288), meta=np.ndarray>
Attributes:
    Conventions:            CF-1.7 CMIP-6.2
    activity_id:            CMIP
    branch_method:          standard
    branch_time_in_child:   674885.0
    branch_time_in_parent:  182500.0
    case_id:                18
    cesm_casename:          b.e21.BHIST.f09_g17.CMIP6-historical.004
    contact:                cesm_cmip6@ucar.edu
    creation_date:          2019-01-18T19:00:32Z
    data_specs_version:     01.00.29
    experiment:             all-forcing simulation of the recent past
    experiment_id:          historical
    external_variables:     areacella
    forcing_index:          1
    frequency:              mon
    further_info_url:       https://furtherinfo.es-doc.org/CMIP6.NCAR.CESM2.h...
    grid:                   native 0.9x1.25 finite volume grid (192x288 latxlon)
    grid_label:             gn
    initialization_index:   1
    institution:            National Center for Atmospheric Research, Climate...
    institution_id:         NCAR
    license:                CMIP6 model data produced by <The National Center...
    mip_era:                CMIP6
    model_doi_url:          https://doi.org/10.5065/D67H1H0V
    nominal_resolution:     100 km
    parent_activity_id:     CMIP
    parent_experiment_id:   piControl
    parent_mip_era:         CMIP6
    parent_source_id:       CESM2
    parent_time_units:      days since 0001-01-01 00:00:00
    parent_variant_label:   r1i1p1f1
    physics_index:          1
    product:                model-output
    realization_index:      4
    realm:                  atmos
    source:                 CESM2 (2017): atmosphere: CAM6 (0.9x1.25 finite v...
    source_id:              CESM2
    source_type:            AOGCM BGC
    sub_experiment:         none
    sub_experiment_id:      none
    table_id:               Amon
    tracking_id:            hdl:21.14100/526adc7d-5a92-4f9a-8dd2-0ed11adb1004
    variable_id:            ts
    variant_info:           CMIP6 20th century experiments (1850-2014) with C...
    variant_label:          r4i1p1f1
    status:                 2019-10-25;created;by nhn2@columbia.edu
0
           lat   lon  nbnd                 time   lat_bnds  lon_bnds  \
0     14.60733  42.5     0  1850-01-15 12:00:00  14.136126    41.875
1     14.60733  42.5     0  1850-02-14 00:00:00  14.136126    41.875
2     14.60733  42.5     0  1850-03-15 12:00:00  14.136126    41.875
3     14.60733  42.5     0  1850-04-15 00:00:00  14.136126    41.875
4     14.60733  42.5     0  1850-05-15 12:00:00  14.136126    41.875
...        ...   ...   ...                  ...        ...       ...
3955  14.60733  42.5     1  2014-08-15 12:00:00  15.078534    43.125
3956  14.60733  42.5     1  2014-09-15 00:00:00  15.078534    43.125
3957  14.60733  42.5     1  2014-10-15 12:00:00  15.078534    43.125
3958  14.60733  42.5     1  2014-11-15 00:00:00  15.078534    43.125
3959  14.60733  42.5     1  2014-12-15 12:00:00  15.078534    43.125

                time_bnds          ts
0     1850-01-01 00:00:00  300.660034
1     1850-02-01 00:00:00  299.904449
2     1850-03-01 00:00:00  299.858673
3     1850-04-01 00:00:00  300.402405
4     1850-05-01 00:00:00  301.818085
...                   ...         ...
3955  2014-09-01 00:00:00  305.112640
3956  2014-10-01 00:00:00  305.678192
3957  2014-11-01 00:00:00  305.513763
3958  2014-12-01 00:00:00  304.306122
3959  2015-01-01 00:00:00  303.103760

[3960 rows x 8 columns]
           lat   lon  nbnd                 time   lat_bnds  lon_bnds  \
0     14.60733  42.5     0  1850-01-15 12:00:00  14.136126    41.875
1     14.60733  42.5     0  1850-02-14 00:00:00  14.136126    41.875
2     14.60733  42.5     0  1850-03-15 12:00:00  14.136126    41.875
3     14.60733  42.5     0  1850-04-15 00:00:00  14.136126    41.875
4     14.60733  42.5     0  1850-05-15 12:00:00  14.136126    41.875
...        ...   ...   ...                  ...        ...       ...
3955  14.60733  42.5     1  2014-08-15 12:00:00  15.078534    43.125
3956  14.60733  42.5     1  2014-09-15 00:00:00  15.078534    43.125
3957  14.60733  42.5     1  2014-10-15 12:00:00  15.078534    43.125
3958  14.60733  42.5     1  2014-11-15 00:00:00  15.078534    43.125
3959  14.60733  42.5     1  2014-12-15 12:00:00  15.078534    43.125

                time_bnds          ts
0     1850-01-01 00:00:00  300.660034
1     1850-02-01 00:00:00  299.904449
2     1850-03-01 00:00:00  299.858673
3     1850-04-01 00:00:00  300.402405
4     1850-05-01 00:00:00  301.818085
...                   ...         ...
3955  2014-09-01 00:00:00  305.112640
3956  2014-10-01 00:00:00  305.678192
3957  2014-11-01 00:00:00  305.513763
3958  2014-12-01 00:00:00  304.306122
3959  2015-01-01 00:00:00  303.103760

[3960 rows x 8 columns]
1
            lat   lon  nbnd                 time   lat_bnds  lon_bnds  \
0     75.863874  12.5     0  1850-01-15 12:00:00  75.392670    11.875
1     75.863874  12.5     0  1850-02-14 00:00:00  75.392670    11.875
2     75.863874  12.5     0  1850-03-15 12:00:00  75.392670    11.875
3     75.863874  12.5     0  1850-04-15 00:00:00  75.392670    11.875
4     75.863874  12.5     0  1850-05-15 12:00:00  75.392670    11.875
...         ...   ...   ...                  ...        ...       ...
3955  75.863874  12.5     1  2014-08-15 12:00:00  76.335075    13.125
3956  75.863874  12.5     1  2014-09-15 00:00:00  76.335075    13.125
3957  75.863874  12.5     1  2014-10-15 12:00:00  76.335075    13.125
3958  75.863874  12.5     1  2014-11-15 00:00:00  76.335075    13.125
3959  75.863874  12.5     1  2014-12-15 12:00:00  76.335075    13.125

                time_bnds          ts
0     1850-01-01 00:00:00  274.079559
1     1850-02-01 00:00:00  275.093933
2     1850-03-01 00:00:00  274.198029
3     1850-04-01 00:00:00  272.199371
4     1850-05-01 00:00:00  270.215424
...                   ...         ...
3955  2014-09-01 00:00:00  277.601532
3956  2014-10-01 00:00:00  277.177338
3957  2014-11-01 00:00:00  276.275146
3958  2014-12-01 00:00:00  275.755920
3959  2015-01-01 00:00:00  275.424255

[3960 rows x 8 columns]
            lat   lon  nbnd                 time   lat_bnds  lon_bnds  \
0     14.607330  42.5     0  1850-01-15 12:00:00  14.136126    41.875
1     14.607330  42.5     0  1850-02-14 00:00:00  14.136126    41.875
2     14.607330  42.5     0  1850-03-15 12:00:00  14.136126    41.875
3     14.607330  42.5     0  1850-04-15 00:00:00  14.136126    41.875
4     14.607330  42.5     0  1850-05-15 12:00:00  14.136126    41.875
...         ...   ...   ...                  ...        ...       ...
3955  75.863874  12.5     1  2014-08-15 12:00:00  76.335075    13.125
3956  75.863874  12.5     1  2014-09-15 00:00:00  76.335075    13.125
3957  75.863874  12.5     1  2014-10-15 12:00:00  76.335075    13.125
3958  75.863874  12.5     1  2014-11-15 00:00:00  76.335075    13.125
3959  75.863874  12.5     1  2014-12-15 12:00:00  76.335075    13.125

                time_bnds          ts
0     1850-01-01 00:00:00  300.660034
1     1850-02-01 00:00:00  299.904449
2     1850-03-01 00:00:00  299.858673
3     1850-04-01 00:00:00  300.402405
4     1850-05-01 00:00:00  301.818085
...                   ...         ...
3955  2014-09-01 00:00:00  277.601532
3956  2014-10-01 00:00:00  277.177338
3957  2014-11-01 00:00:00  276.275146
3958  2014-12-01 00:00:00  275.755920
3959  2015-01-01 00:00:00  275.424255

[7920 rows x 8 columns]
<xarray.Dataset>
Dimensions:    (lat: 192, lon: 288, nbnd: 2, time: 1032)
Coordinates:
  * lat        (lat) float64 -90.0 -89.06 -88.12 -87.17 ... 88.12 89.06 90.0
    lat_bnds   (lat, nbnd) float64 dask.array<chunksize=(192, 2), meta=np.ndarray>
  * lon        (lon) float64 0.0 1.25 2.5 3.75 5.0 ... 355.0 356.2 357.5 358.8
    lon_bnds   (lon, nbnd) float64 dask.array<chunksize=(288, 2), meta=np.ndarray>
  * time       (time) object 2015-01-15 12:00:00 ... 2100-12-15 12:00:00
    time_bnds  (time, nbnd) object dask.array<chunksize=(1032, 2), meta=np.ndarray>
Dimensions without coordinates: nbnd
Data variables:
    tas        (time, lat, lon) float32 dask.array<chunksize=(408, 192, 288), meta=np.ndarray>
Attributes:
    Conventions:            CF-1.7 CMIP-6.2
    activity_id:            ScenarioMIP
    branch_method:          standard
    branch_time_in_child:   735110.0
    branch_time_in_parent:  735110.0
    case_id:                1735
    cesm_casename:          b.e21.BSSP585cmip6.f09_g17.CMIP6-SSP5-8.5.103
    contact:                cesm_cmip6@ucar.edu
    creation_date:          2020-05-27T22:13:26Z
    data_specs_version:     01.00.31
    experiment:             SSP-based RCP scenario with high radiative forcin...
    experiment_id:          ssp585
    external_variables:     areacella
    forcing_index:          1
    frequency:              mon
    further_info_url:       https://furtherinfo.es-doc.org/CMIP6.NCAR.CESM2.s...
    grid:                   native 0.9x1.25 finite volume grid (192x288 latxlon)
    grid_label:             gn
    initialization_index:   1
    institution:            National Center for Atmospheric Research, Climate...
    institution_id:         NCAR
    license:                CMIP6 model data produced by <The National Center...
    mip_era:                CMIP6
    model_doi_url:          https://doi.org/10.5065/D67H1H0V
    nominal_resolution:     100 km
    parent_activity_id:     CMIP
    parent_experiment_id:   historical
    parent_mip_era:         CMIP6
    parent_source_id:       CESM2
    parent_time_units:      days since 0001-01-01 00:00:00
    parent_variant_label:   r4i1p1f1
    physics_index:          1
    product:                model-output
    realization_index:      4
    realm:                  atmos
    source:                 CESM2 (2017): atmosphere: CAM6 (0.9x1.25 finite v...
    source_id:              CESM2
    source_type:            AOGCM BGC AER
    status:                 2020-06-07;created; by gcs.cmip6.ldeo@gmail.com
    sub_experiment:         none
    sub_experiment_id:      none
    table_id:               Amon
    tracking_id:            hdl:21.14100/6aa12f5a-cf48-42af-acb0-f54b5afa0f41...
    variable_id:            tas
    variant_info:           CMIP6 SSP5-8.5 experiments (2015-2100) with CAM6,...
    variant_label:          r4i1p1f1
0
           lat   lon  nbnd                 time   lat_bnds  lon_bnds  \
0     14.60733  42.5     0  2015-01-15 12:00:00  14.136126    41.875
1     14.60733  42.5     0  2015-02-14 00:00:00  14.136126    41.875
2     14.60733  42.5     0  2015-03-15 12:00:00  14.136126    41.875
3     14.60733  42.5     0  2015-04-15 00:00:00  14.136126    41.875
4     14.60733  42.5     0  2015-05-15 12:00:00  14.136126    41.875
...        ...   ...   ...                  ...        ...       ...
2059  14.60733  42.5     1  2100-08-15 12:00:00  15.078534    43.125
2060  14.60733  42.5     1  2100-09-15 00:00:00  15.078534    43.125
2061  14.60733  42.5     1  2100-10-15 12:00:00  15.078534    43.125
2062  14.60733  42.5     1  2100-11-15 00:00:00  15.078534    43.125
2063  14.60733  42.5     1  2100-12-15 12:00:00  15.078534    43.125

             tas            time_bnds
0     299.979675  2015-01-01 00:00:00

In [86]:
df_assets["lats"].iloc[[i]]

1    30
Name: lats, dtype: int64

In [26]:
ds.attrs["experiment_id"]

'ssp585'